<template>
    <md-dialog md-open-from="#custom" md-close-to="#custom" ref="confirmCheckin">
  <md-dialog-title>ยืนยันการลงเวลาเข้างาน</md-dialog-title>

  <md-dialog-content>คุณแน่ใจหรือไม่ที่จะบันทึกเวลาเข้างานในเวลานี้</md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" @click="closeDialog">ยกเลิก</md-button>
    <md-button class="md-primary" @click="confirm">ยืนยัน</md-button>
  </md-dialog-actions>
</md-dialog>
</template>

<script>
export default {
  methods: {
    open() {
      this.$refs.confirmCheckin.open();
    },
    closeDialog() {
      this.$refs.confirmCheckin.close();
    },
    confirm() { 
      this.closeDialog()
      alert()
    },
    onOpen() {
      console.log("Opened");
    },
    onClose(type) {
      console.log("Closed", type);
    }
  }
};
</script>
