<template>
    <div>
        <Navbar />
        <md-layout md-gutter>
            <md-layout md-flex="20" class="fullh">
                <Menubar/>
            </md-layout>
            <md-layout>
                <keep-alive>
                    <transition name="slide-fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </keep-alive>
            </md-layout>
        </md-layout>

    </div>
</template>
<script>
import Navbar from '../shared-component/Navbar'
import Menubar from '../shared-component/Menubar'
import ls from 'local-storage'
export default {
    name: 'Home',
    components: {
        Navbar,
        Menubar
    },
    mounted: function() {
        this.$store.dispatch('LOAD_CURRENT_USER')
    },
    // created() {
    //     // fetch the data when the view is created and the data is
    //     // already being observed
    //     this.fetchData()
    // },
    // methods: {
    //     fetchData() {
    //         console.log('dd')
    //     }
    // },
    // beforeRouteUpdate(to, from, next) {
    //     // console.log('l',ls.get('locale'))
    //     // to.meta.lang = ls.get('locale')
    //     console.log(this.$i18n.locale)
    //     next()
    // }
}
</script>
<style scope>
.fullh {
    height: 90vh;
    background-color: #eeeeee;
}
</style>
