<template>
    <div style="width: 100%;">
        <history-search ref="hSearch" @search="searchItem" />
        <history-result :result="listFilter || list" />
        <VmodelTest v-model="list" @cancel="back" /> <!-- จะมีการเปลี่ยนค่าใน list ทันที เมื่อโดน emit จากหน้า VmodelTest-->
        <!-- {{list}} -->
    </div>
</template>

<script>
import HistoryResult from './HistoryResult'
import HistorySearch from './HistorySearch'
import VmodelTest from './VmodelTest'

export default {
    name: 'history',
    data() {
        return {
            list: [
                { id: 1, checkin: '2017/03/01 09:00:00', checkout: '2017/03/01 18:00:00', createdAt: '2017/03/01' },
                { id: 2, checkin: '2017/03/02 08:20:10', checkout: '2017/03/02 18:00:00', createdAt: '2017/03/02' },
                { id: 3, checkin: '2017/03/03 08:00:00', checkout: '2017/03/03 18:00:00', createdAt: '2017/03/03' },
                { id: 4, checkin: '2017/03/04 09:10:10', checkout: '2017/03/04 18:00:00', createdAt: '2017/03/04' },
                { id: 5, checkin: '2017/03/05 08:40:00', checkout: '2017/03/05 18:00:00', createdAt: '2017/03/05' },
            ],
            search: '',
            listFilter: null
        }
    },
    components: {
        HistoryResult,
        HistorySearch,
        VmodelTest
    },
    methods: {
        searchItem(val) { 
            if (!+val) {
                this.listFilter =  this.list
                return
            } 
            this.listFilter =  this.list.filter((item) => item.id === +val)
        },
        back() {
            console.log('back from vModelTest')
        }
    },
    computed: {
        // searchItem() {
        //     this.list.filter((item) => {
        //         console.log(item.id, +this.itemSearching)
        //         console.log(item.id === +this.itemSearching)
        //     })
        // }
    },
    watch: {
        // listFilter(val) {
        //     console.log(val)
        //     // this.searching(val)
        //     // console.log(val, 'DDD')
        // }
    }

}
</script>

