<template>
    <div>
        <md-table v-if="result.length">
            <md-table-header>
                <md-table-row>
                    <md-table-head>#</md-table-head>
                    <md-table-head>Date</md-table-head>
                    <md-table-head>Check in</md-table-head>
                    <md-table-head>Check out</md-table-head>
                    <md-table-head>Action</md-table-head>
                </md-table-row>
            </md-table-header>

            <md-table-body>
                <md-table-row v-for="(row, index) in result" :key="row.id">
                    <md-table-cell>{{index+1}}</md-table-cell>
                    <md-table-cell>{{row.createdAt | formatDate}}</md-table-cell>
                    <md-table-cell>{{row.checkin | formatTime}}</md-table-cell>
                    <md-table-cell>{{row.checkout | formatTime}}</md-table-cell>
                    <md-table-cell>
                        <md-button class="md-raised md-primary" @click="view(row.id)"></md-button>
                    </md-table-cell>
                    <!-- <li v-for="n in list" :key="n.id">{{n.name}}</li> -->
                    <!-- <md-table-cell v-for="(col, index) in list" :key="col.id" md-numeric>10</md-table-cell> -->
                </md-table-row>
            </md-table-body>
        </md-table>
        <div v-else>ไม่มีข้อมูลที่ค้นหา</div>
    </div>
</template>

<script>
export default {
    name: 'HistoryResult',
    props: ['result'],
    // watch: {
    //     result(val) { 
    //         console.log(val)
    //     }
    // },
    computed: {
        // filter() {
        //     if (!+this.search) {
        //         return this.result
        //     }
        //     return this.result.filter((item) => item.id === +this.search)
        // }
    },
    data() {
        return {

        }
    },
    methods: {
        view(id) {
            this.$router.push(`/history/${id}`)
        }
    }
}
</script>

