<template>
    <div style="width: 100%;">
        <div>
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div class="md-title">{{ $t('message.timestamp.server_time') }} : {{serverTime | formatDateTime}}</div>
                        <div class="md-subhead">{{ $t('message.timestamp.welcomeback') }}, {{currentUser.name}}</div>
                    </md-card-header-text>

                    <!-- <md-card-media>
                                                            <img src="assets/avatar-2.jpg" alt="People">
                                                        </md-card-media> -->
                </md-card-header>

                <md-card-actions layout-align="center center">
                    <md-button @click="openUpload" class="md-raised md-accent">{{ $t('message.timestamp.checkin') }}</md-button>
                    <md-button class="md-primary" disabled> {{ $t('message.timestamp.checkout') }}</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <confirm-dialog ref="upload"></confirm-dialog>
    </div> 
</template>

<script>
import { mapState } from "vuex";
import ConfirmDialog from "./../ConfirmDialog";

export default {
  name: "timestamp",
  components: {
    ConfirmDialog
  },
  data() {
    return {
      serverTime: new Date()
    };
  },
  mounted() {
    // ,
    setInterval(() => {
      // this.$nextTick(() => {
      // this.$i18n.locale = 'en'
      // $(this.$refs.rating).rating() //DOM อัพเดต
      // })
      this.serverTime = new Date();
    }, 1000);
  },
  computed: {
    ...mapState(["currentUser"])
  },
  methods: {
    openUpload() {
      this.$refs.upload.open();
    }
  }
};
</script>

