<template>
    <div>
        <md-button class="md-raised md-dense"  @click="save">v-model send data to parent page and click to emit for update data</md-button>
        <md-button class="md-raised md-accent"  @click="$emit('cancel')">Cancel</md-button> <!-- สามารถใส่ emit เข้าไปใน event click ได้เลย -->
    </div>
</template>

<script>
export default {
  props: ["value"], //ส่งอะไรมาก็ได้ รับเป็น value
  methods: {
    save() {
      this.$emit("input", {
        //เป็นค่าใหม่ที่จะ assign ให้กับ v-model
        name: "xxx",
        desc: "xxx1"
      });
      // console.log(this.value)
    }
  }
};
</script>

