<template>
    <div style="width:100%">
        <h2>Ex. ตัวอย่างการใช้งาน state/store/vuex</h2>
        <h4>{{currentUser.name}}</h4>
        <md-table v-if="lengthOfUsers">
            <md-table-header>
                <md-table-row>
                    <md-table-head>#</md-table-head>
                    <md-table-head>First name</md-table-head>
                    <md-table-head>Last name</md-table-head>
                    <md-table-head>Position</md-table-head>
                    <md-table-head>Action</md-table-head>
                </md-table-row>
            </md-table-header>

            <md-table-body>
                <md-table-row v-for="(row, index) in users" :key="row.id">
                    <md-table-cell>{{index+1}}</md-table-cell>
                    <md-table-cell>{{row.fname}}</md-table-cell>
                    <md-table-cell>{{row.lname}}</md-table-cell>
                    <md-table-cell>{{row.position}}</md-table-cell>
                    <md-table-cell>
                        <md-button class="md-raised md-primary" @click="del(row)">
                            <md-tooltip md-direction="top">View console</md-tooltip>
                        </md-button>
                        
                    </md-table-cell>

                </md-table-row>
            </md-table-body>
        </md-table>
        <div v-else>ไม่มีข้อมูลที่ค้นหา</div>
        
        <md-button @click="addUser">Add new user</md-button>
    </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex' //helper function 
export default {
    name: 'User',
    computed: {
        //สามารถเพิ่ม computed ของ internal ได้โดยใส่ sprete syntax หาก error ให้ทำการ install babel-preset-stage-0
        ...mapState(['counter', 'currentUser', 'users']),
        ...mapGetters(['lengthOfUsers']),
        foo() {
            return 1
        }
    },
    methods: {
        // handleIncrement() {
        // this.$store.commit('increment')
        ...mapMutations(['increment']),
        addUser() {
            this.$store.dispatch('ADD_NEW_USER')
        },
        del(item) {
            console.log(item)
            // this.$store.dispatch('DEL_USER', { user: item })
        }
        // }
    }

    /* สามารถใช้แบบนี้ก็ได้นะ */
    // computed: {
    //   counter() {
    //     return this.$store.state.counter
    //   }
    // }

}
</script>

