<template>
    <md-toolbar>
        <md-layout md-flex="75">
            <h1 class="md-title"><img style="width: 60px;" src="./../assets/images/clock.svg">OST Time Stamp</h1>
        </md-layout>
        <md-layout>
            <span>
                {{currentUser.name}} <br/> {{currentUser.position}}
            </span>
            <span>
                <md-button @click="logout" class="md-raised md-dense">{{$t('message.navbar.logout')}}</md-button>
            </span>
        </md-layout>

    </md-toolbar>
</template>

<script>
import ls from 'local-storage'
import { mapState } from 'vuex'
export default {
    name: "navbar",
    mounted() {
        this.$store.dispatch('LOAD_USER_LIST')
    },
    computed: {
        ...mapState(['currentUser']),
    },
    methods: {
        logout() {
            ls.clear()
            this.$router.push({ name: 'Login' })
        }
    }
}
</script>

